<h3>Sign Up</h3>
<form action="/signup" method="POST">
	<ul>
	  <li>Username: <input type="text" name="username"></li>
	  <li>Email: <input type="text" name="email"></li>
	  <li>Password: <input type="password" name="password"></li>
	  <li><input type="submit" value="Sign Up"></li>
	</ul>
</form>