<h3>Welcome, <%= @user.username %></h3>

<a href='/shoes'>Your Shoes</a>
<a href='/logout'>Logout</a>

<form method="post" action="/users/<%= @user.id %>/delete"> 
<input id="hidden" type="hidden" name="_method" value="DELETE"> 
<input type="submit" value="Delete Account">
</form>