<h3>Welcome, <%= current_user.username %></h3>

<ul>
  <li><a href='/shoes'>Your Shoes</a></li>
  <li><a href='/shoes/new'>Add a Shoe</a></li>
  <li><a href='/logout'>Logout</a></li>
</ul>

<form method="post" action="/users/<%= current_user.id %>/delete"> 
<input id="hidden" type="hidden" name="_method" value="DELETE"> 
<input type="submit" value="Delete Account">
</form>