<h3>Add a new shoe to your collection</h3>

<ul>
<form method='post' action='/shoes'>
  <li>Name: <input type="text" name="name"></li>
  <li>Brand: <input type="text" name="brand"></li>
  <li>Color: <input type="text" name="color"></li>
  <li><input type="submit" value="Create New Shoe"></li>
</form>
</ul>