<h3>Welcome, <%= current_user.username %></h3>
<p>Your Shoes:</p>
<ul>
  <%  current_user.shoes.each.with_index(1) do |shoe, i| %>
    <li><%= "#{i}." %></li>
    <li>Name: <a href='/shoes/<%= shoe.id %>'><%= shoe.name %></a></li>
  <% end %> 
</ul>

<br><a href='/shoes/new'>Add a Shoe</a>
<br><a href='/logout'>Logout</a>

