<h3>Welcome, <%= @user.username %></h3>
<p>Your Shoes:</p>
<ul>
  <%  @user.shoes.each do |shoe| %>
    <li> <%= shoe.name %>  </li>
    <li> <%= shoe.brand %>  </li>
    <li> <%= shoe.color %>  </li>
  <% end %> 
</ul>